.App {
  text-align:start;
  min-width: min-content;
}

.App-logo {
  height: 45px;
  position: absolute;
  top: 5px;
  left: 5px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {animation: App-logo-spin infinite 20s linear;}
}

.App-header {
  display: flex;
  flex-direction: column;
  background-color: #f19ecc;
  border-radius: 5px;
  padding: 15px;
  margin-top: 5px;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: fantasy;
}

.App-language, ul, li{
  display: inline;
  list-style: none;
  padding: 10px;
  font-size: larger;

}

.App-footer{
  position: relative;
  left: 5px;
  margin-top: 10px;
  margin-bottom: 2%;
  font-size: x-small;
  text-align: right;
  font-family: fantasy;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
